.top-logo {
  width: 70px;
  height: 65px;
  padding: 0;
  margin: 0;
}

.brand-div p {
  margin: 0 20px;
}

@media (max-width: 600px) {
  .top-logo {
    width: 30px;
    height: 30px;
  }
  .brand-div {
    margin-right: 10px;
  }
  .brand-div p {
    margin-right: 0;
    font-size: 13px !important;
  }
  .brand-div span {
    font-size: 10px;
  }
}
