@media (min-width: 668px) {
  .mynavbar {
    position: absolute;
    right: 20;
  }
}

@media (max-width: 667px) {
  .mynavbar {
    position: relative !important;
    right: 0 !important;
  }
  .mynavbar li {
    float: left;
  }
}
