.App {
  text-align: center;
}

.give-top-space {
  padding-top: 50px;
}

@media (max-width: 600px) {
  h3 {
    font-size: 19px !important;
  }
  h1 {
    font-size: 25px !important;
  }
}

.heading {
  color: #3e86c6;
  padding-bottom: 20px;
}

.green {
  color: #8faf3d;
}

.blue {
  color: #3e86c6;
}

.zero {
  margin: 0 !important;
  padding: 0 !important;
}

.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 500;
  color: #909294;
}

label {
  color: #3f4242;
  font-weight: 500;
}
