.about-us-image {
  width: 100%;
  height: 100%;
  margin-left: 0;
}

.about-us {
  padding: 20px 30px;
  padding-top: 30px;
  padding-bottom: 2px;
}

@media (max-width: 700px) {
  .about-us {
    padding: 10px 10px;
  }
}
